[server]
serverName="gin-api-server"
mode="debug"
addr=":8888"

[zap]
DebugFileName="./logs/debug/debug.log"
InfoFileName="./logs/info/info.log"
WarnFileName="./logs/error/error.log"
MaxSize=500
MaxAge=28
MaxBackups=3

[mysql]
dsn="root:123456@tcp(127.0.0.1:3306)/xxx?charset=utf8mb4&parseTime=True&loc=Local"
host="127.0.0.1"
port=3306
db="xxx"
username="root"
password="123456"
charset="utf8mb4"
parseTime="True"
loc="Local"

[redis]
host="127.0.0.1"
port=6379
passsword=""
db=0

[email]
addr="smtp.qq.com:587"
host="smtp.qq.com"
from="xxx@xx.com"
to=["xxx@xx.com"]
password="xxx"
